<p style="color: green"><%= notice %></p>

<%= render @evidence %>

<div>
  <%= link_to "Edit this evidence", edit_evidence_path(@evidence) %> |
  <%= link_to "Back to evidences", evidences_path %>

  <%= button_to "Destroy this evidence", @evidence, method: :delete %>
</div>
