<h1>Edit Person</h1>

<%= form_with model: @person, url: person_path(@person), method: :patch do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <h2>Current Groups</h2>
  <div>
    <ul>
      <% @person.groups.each do |group| %>
        <li>
          <%= group.name %>
        </li>
      <% end %>
    </ul>

    <h3>Add Group</h3>
    <%= form.collection_select :group_ids, Group.all, :id, :name, { include_blank: true }, { class: "form-control", multiple: true } %>
  </div>

  <%= form.submit "Save Person" %>
<% end %>
