<%= render MenuComponent.new %>

<h1>Editing person</h1>

<%= render "form", person: @person %>

<br>
<hr>

<div>
  <%= link_to "Show this person", @person %> |
  <%= link_to "Back to people", people_path %>

  <%= button_to "Destroy this person", @person, method: :delete, data: { confirm: "Are you sure?" }, class: "button is-danger" %>
</div>
