<%= render MenuComponent.new %>

<p>Search for People, Parties, Companies or other Groups. <i>Whole words or the beginning of a word, eg "Anthony" or "Alba"</i></p>


<%= form_with url: {controller: "search", action: "index"}, method: :get do %>
  <%= label_tag :query, 'Search' %>
  <%= text_field_tag :query, '', autofocus: true %>
  <%= submit_tag 'Search' %>
<% end %>



<% if @results.present? %>
  <%= render(SearchResults.new(results: @results)) %>
<% end %>
