<%= render MenuComponent.new %>

<div id="searchbox-container" class="container mt-6">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <header class="hero-section mt-6 mb-1 text-center">
        <p class="lead">Explore links between people and groups, money and decision-makers.</p>

        <!-- Search Box -->
        <%= form_with url: {controller: "search", action: "index"}, method: :get, html: {class: "search-box"} do %>
          <div class="input-group">
            <%= text_field_tag :query, '', class: "form-control", placeholder: "Search for people or groups...", autofocus: true %>
            <%= submit_tag 'Search', class: "btn btn-primary" %>
          </div>
        <% end %>
      </header>
    </div>
  </div>

  <% if @results.present? %>
    <%= render(SearchResults.new(results: @results)) %>
  <% end %>

  <% if @results.empty? && @records.present? %>
    <%= render(InterestingRecords.new(records: @records)) %>
  <% end %>
</div>