<%= render MenuComponent.new %>

<p>Search for People, parties or Groups</p>
<p><i>Whole words at this stage, eg "Anthony" or "Albanese"</i></p>


<%= form_with url: {controller: "search", action: "index"}, method: :get do %>
  <%= label_tag :query, 'Search' %>
  <%= text_field_tag :query %>
  <%= submit_tag 'Search' %>
<% end %>



<% if @results.present? %>
  <%= render(SearchResults.new(results: @results)) %>
<% end %>
