<%= render MenuComponent.new %>

<p>Search for LINKS</p>
<p><i>Between People and / or Groups</i></p>




<%= form_with url: {controller: "search", action: "linker"}, method: :get, html: { class: "form-inline" } do %>
  <div class="form-group mr-2">
    <%= label_tag :player_one, ' Player One', class: "mr-2" %>
    <%= text_field_tag :player_one, '', autofocus: true, class: "form-control" %>
  </div>
  <div class="form-group mr-2">
    <%= label_tag :player_two, ' Player Two', class: "mr-2" %>
    <%= text_field_tag :player_two, '', class: "form-control" %>
  </div>
  <%= submit_tag 'Search', class: "btn btn-primary" %>
<% end %>



<% if @shortest_path.present? %>
  <%= render(ShortestPathResults.new(shortest_path: @shortest_path)) %>
<% end %>
