

<div>
  <%= render Groups::Heading.new(group: @group) %>
</div>

<div>
  <%= render Groups::MoneySummary.new(group: @group) %>
</div>

<div>
  <%= render Groups::AffiliatedGroups.new(group: @group) %>
</div>

<div>
  <%= render Groups::People.new(group: @group) %>
</div>

<div>
  <%= render TransfersTableComponent.new(
        entity: @group,
        transfers: @group.consolidated_transfers(depth: 0),
        heading: "Directly Connected to #{@group.name}",
        summarise_for: Group.summarise_for(@group)
      )
    %>
</div>




<%= bar_chart(@data) %>