
<div class="graph rounded bg-light mt-3 shadow-sm">
  <%= bar_chart(
    transfers_by_name,
    colors:,
    prefix: "$",
    thousands: ",",
    download: true,
    title: "#{entity.name.upcase}: Top 5 #{giver ? 'recipients' : 'funders' }",
    dataset: {borderWidth: 2}
  ) %>
  <span class="bottom-right text-muted small"><%= entity.data_time_range %></span>
</div>

<div class="graph rounded bg-light mt-3" style="display: none">
  <h1>Dummy Data!!</h1>
  <%= column_chart [
        {
            name: "The Union Education Foundation Limited",
            data: Transfer.where(giver: Group.find_by(name: 'The Union Education Foundation Limited')).group_by_year(:effective_date).sum(:amount).transform_keys{ |key| key.year },
            stack: "stack 1"
        },
        {
            name: "Maurice Blackburn Pty Ltd",
            data: Transfer.where(giver: Group.find_by(name: 'Maurice Blackburn Pty Ltd')).group_by_year(:effective_date).sum(:amount).transform_keys{ |key| key.year },
            stack: "stack 1"
        },
        {
            name: "The Mclean Forum Limited",
            data: Transfer.where(giver: Group.find_by(name: 'The Mclean Forum Limited')).group_by_year(:effective_date).sum(:amount).transform_keys{ |key| key.year },
            stack: "stack 1"
        },
        # {
        #     name: "PWD-Operated Data",
        #     data: Transfer.where(giver_type: 'Person', taker_type: 'Person').group_by_year(:effective_date).count,
        #     stack: "stack 2"
        # }
    ], stacked: true
%>
  <span class="bottom-right text-muted small"><%= entity.data_time_range %></span>
</div>

<div class="graph rounded bg-light mt-3">
  <%= pie_chart(
    transfers_by_name,
    colors:,
    prefix: "$",
    thousands: ",",
    download: true,
    legend: 'left',
    title: "#{entity.name.upcase}: Top 5 #{giver ? 'recipients' : 'funders' }",
    donut: true,
    ) %>
    <span class="bottom-right text-muted small"><%= entity.data_time_range %></span>
</div>
<div class="graph rounded bg-light mt-3">
  <%= column_chart(
    transfers_by_year,
    prefix: "$",
    thousands: ",",
    download: true,
    xtitle: 'Financial Year',
    title: "#{entity.name.upcase}: #{giver ? 'Outgoing' : 'Incoming' } Transfers by Year",
    stacked: true,
    dataset: {borderWidth: 2}
    ) %>
    <span class="bottom-right text-muted small"><%= entity.data_time_range %></span>
</div>
