<%= turbo_frame_tag :money_in_charts do %>
  <div>
    <%= bar_chart(@transfers_as_taker_by_name, colors: @taker_colors, prefix: "$", thousands: ",") %>
  </div>
  <div>
    <%= column_chart(@transfers_as_taker_by_year, prefix: "$", thousands: ",", xtitle: 'Financial Year') %>
  </div>
<% end %>

<%= turbo_frame_tag :money_out_charts do %>
  <div>
    <%= bar_chart(@transfers_as_giver_by_name, colors: @giver_colors, prefix: "$", thousands: ",") %>
  </div>
  <div>
    <%= column_chart(@transfers_as_giver_by_year, prefix: "$", thousands: ",", xtitle: 'Financial Year') %>
  </div>
<% end %>

<%= turbo_frame_tag :feed do %>
  <div>
    <%= render TransfersTableComponent.new(
        entity: @group,
        transfers: @group.consolidated_transfers(depth: 6),
        heading: "Transfers Connected to groups and people that are connected to #{@group.name} to a depth of #{6} degrees of separation",
        summarise_for: Group.summarise_for(@group),
        remove_zero_degrees: true
      )
    %>
  </div>
<% end %>
