<p>The Group: <%= @current_group.name %> will be merged into another group and destroyed. This action cannot be undone.</p>
<%= form_with url: '/admin/groups/perform_merge', method: :post, local: true do |form| %>
  <div>
    <%= form.label :merge_into_group_id, "Select group to merge into:" %><br>
    <%= form.collection_select :merge_into_group_id, Group.order(:name).all, :id, :name %>
    <%= form.hidden_field :current_group_id, value: @current_group.id %>
  </div>
  <div>
    <%= form.submit "Merge" %>
  </div>
<% end %>