<!DOCTYPE html>
<html>
  <head>
    <title inertia>Join The Dots...</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KRT9EZS95V"></script>
    <script>
    console.log("Google Tag Manager is working");
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-KRT9EZS95V');
    </script>
    <%= vite_react_refresh_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag "inertia" %>
    <%= inertia_ssr_head %>
    <%= vite_javascript_tag 'application' %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->

  </head>

  <body class="wide-container">
    <% if notice.present? %>
      <p class="notice"><%= notice %></p>

    <% end %>

    <% if alert.present? %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= render MenuComponent.new %>

    <p class="notice toast">'Depth: 2'</p>

    <%= form_with url: {controller: "inertia", action: "network_graph"}, method: :get do %>
      <%= select_tag(:depth, options_for_select([1, 2, 3, 4, 5, 6])) %>
      <%= submit_tag 'Go!' %>
    <% end %>

    <%= yield %>
  </body>
</html>
